@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Nunito:ital@1&family=Poppins:wght@300&family=Roboto+Slab:wght@400;500&family=Roboto:wght@300&display=swap");

/* CSS Code */
/* Heading */

body {
  background-color: rgba(104, 89, 97, 0.81);
}

/* 3*3 Grid */
#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
  width: 80px;
  height: 52px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 6px;
  font-size: 30px;
  text-align: center;
}

/* Reset Button */
#but {
  box-sizing: border-box;
  width: 95px;
  height: 40px;
  border: 1px solid dodgerblue;
  margin: auto;
  border-radius: 4px;
  font-family: "Mouse Memoirs", sans-serif;

  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Player turn space */
#print {
  font-family: "Mouse Memoirs", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
}

/* Main Container */
#main {
  text-align: center;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 30px;
  color: rgba(239, 11, 11, 1);
}

/* Game Instruction Text */
#ins {
  font-family: "Mouse Memoirs", sans-serif;

  color: dodgerblue;
  font-size: 25px;
}
